body { 
    Margin: 0;
	BACKGROUND-COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	COLOR: #000000; 
	FONT-SIZE: 10px; 
	FONT-WEIGHT: normal;
	background-image: url(film_bg_03.jpg);
	background-position: top right; 
	margin: 0px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	scrollbar-face-color: #85E1FC;
	scrollbar-shadow-color: #FF00FF; 
	scrollbar-highlight-color: #FF00FF;
	scrollbar-3dlight-color:  #640063; 
	scrollbar-darkshadow-color: #640063;
	scrollbar-track-color: #000000; 
	scrollbar-arrow-color: #000000; 
} 

.ramme {
	border-style: solid;
	border-color: #FF00FF;
	border-width: 1px 1px 1px 1px;
}

hr {
	height: 1px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	line-height: 1px;
	color: #FF00FF;
}

td { 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	COLOR: #000000;  
	FONT-SIZE: 10px; 
	FONT-WEIGHT: normal;
 }

 .head {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	COLOR: 000000;
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
	padding: 5px;
	border-bottom: medium solid #FF00FF;
	border-bottom-width: 1 px;
	background-color: #85E1FC;
} 

 .bold12  {  
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	COLOR: #000000;
	FONT-SIZE: 12px; 
	FONT-WEIGHT: bold; 
	TEXT-DECORATION: none;
 }

.mini10 {  
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	COLOR: #C8C8C2; 
	FONT-SIZE: 10px; 
	FONT-WEIGHT: normal;
}

A {

	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	COLOR: #FF00FF; 
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
	CURSOR: hand;
} 

.mini {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	COLOR: #CCCCCC; 
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
	CURSOR: hand;
} 

A:visited { 
	COLOR: #FF00FF; 
} 

A:active { 
	COLOR: #FF00FF; 
} 

A:hover { 
    COLOR: #FF00FF; 
	TEXT-DECORATION: none; 
}

input {
    border: 1px solid #85E1FC;
    background: #FFFFCC;
    margin: 0px;
    height: 20px;
}

TEXTAREA{
    border: 1px solid #85E1FC;
    background: #FFFFCC;
    width: 250px;
}

.button {
	COLOR: #000000;
	font-weight : bold;
	font-size : 10px;
	background-color: #FFFFFF;
	BORDER: #85E1FC 1px solid;
}