input {
    border: 1px solid #85E1FC;
    background: #FFFFCC;
    margin: 0px;
    height: 20px;
}

TEXTAREA{
    border: 1px solid #85E1FC;
    background: #FFFFCC;
    width: 250px;
}

.button {
	COLOR: #000000;
	font-weight : bold;
	font-size : 10px;
	background-color: #FFFFFF;
	BORDER: #85E1FC 1px solid;
}